body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #050404;
}
html {
    scroll-behavior: smooth;
    scroll-padding: 8rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background: linear-gradient(to right, rgba(21, 22, 21, 0.4), rgba(28, 30, 28, 0.2)), linear-gradient(to right, rgba(2, 2, 2, 0.4), rgba(0, 14, 1, 0.2)), transparent;
    color: #fff;
    position: fixed;
    top: 0;
    width: 98%;
}
.logo{
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    padding: 3px;
}
.logo a {
    text-decoration: none;
    color: beige;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 45px;
}
.nav-links li a{
    text-decoration: none;
    color:#fff;
    font-size: 19px;
    transition: 0.3s;
}
.nav-links li a:hover{
    color: #4e412f;
}
.hamburger{
    font-size: 45px;
    cursor: pointer;
    display: none;
}
.first {
    background: url(img/bar\ 2.jpg) center/cover no-repeat;
    padding: 150px 20px;
    text-align: center;
    justify-content: center;
    color: white;
}
.first h1{
    margin-top: 200px;
    font-size: 35px;
    font-weight: 900;
    padding: 0 10px;
}
.first p {
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
    margin-bottom: 60px;
}
.first button {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
.first .we {
    padding: 10px 20px;
    border-radius: 5px;
    color: #050404;
    border: none;
    background-color: #e2bd85;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}
.first .me {
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
.first .we:hover{
    background-color: #4e412f;
}
.first a {
   text-decoration: none;
   color: white;
}
.second {
    flex-wrap: wrap;
    padding: 13px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: absolute;
    left: 2rem;
    right: 2rem;
    margin-top: -4rem;
}
.second .card {
    text-align: center;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
}
.second .card h3 {
    display: inline-block;
    border-bottom: 3px solid #e2bd85;
    margin-bottom: 4px;
    font-weight: 800;
}
.second .card p {
    margin-top: 5px;
    font-weight: 600;
}
.third {
    padding: 180px 20px;
    justify-content: space-around;
    background-color: #f0d3a5;
}
.third .container {
    align-items: center;
    display: flex;
}
.third .container .mation {
    padding: 0 40px;
    text-align: center;
}
.third .info p {
    font-size: 18px;
    line-height: 1.6;
}
.third .container .rate {
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.third .card h2 {
    margin-bottom: -10px;
}
.third .card h2 span {
    color: #926f3c;
}
.third .card p {
    font-weight: 600;
    line-height: 1.6;
}
.third img {
    width: 500px;
    height: 400px;
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
}
.service {
    padding: 0 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f0d3a5;
}
.service h3 {
    font-weight: 800;
    margin-top: -100px;
}
.service p {
    font-size: 15px;
}
.service .contt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 80%;
    padding: 18px 10px;
    position: relative;
    left: 8rem;
    top: 20px;
    right: 19rem;
    bottom: 9rem;
}
.service .mini .card {
    display: flex;
    text-align: left;
}
.service .card .img3 {
   
}
.service .mini img{
    margin-top: 7px;
    width: 50px;
    height: 100px;
}
.service .card .words {
    padding: 0 25px;
}
.service .words p {
    margin-bottom: -15px;
    margin-top: -13px;
}
.service .butt {
    padding: 50px 20px;
}
.service .butss {
    display: inline;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    background-color: #926f3c;
    transition: 0.3s;
}
.service .butss:hover {
    background-color: #655641;
}
.service .butt a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.fifth {
    padding: 60px 20px;
    background: url(img/bar\ 1.jpg) center/cover no-repeat;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
.fifth h3 {
    font-weight: 800;
    font-size: 30px;
}
.fifth .butst {
    display: inline;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    background-color: #926f3c;
    transition: 0.3s;
}
.fifth .butst a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.fifth .butst:hover {
    background-color: #655641;
}
.sixth {
    padding: 20px 20px;
    align-items: center;
    text-align: center;
    color: black;
    background-color: white;
}
.sixth h2 {
    font-weight: 800;
}
.sixth p {
    font-size: 15px;
    font-weight: 500;
}
.sixth .contts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 18px 20px;
}
.sixth .contts .card {
    padding: 0 20px;
}
.sixth .card img {
    margin-top: 7px;
    width: 50px;
    height: 70px;
    margin-bottom: -28px;
}
.sixth .card h4 {
    font-weight: 800;
    display: inline-block;
    border-bottom: 3px solid #e2bd85;
    margin-bottom: 4px;
}
.seventh {
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-bottom: 50px;
}
.seventh .card {
    padding: 0 1px;
}
.seventh .sweet  {
    border: 2px solid #e2bd85;
    padding: 15px 25px;
}
.seventh .sweet img {
    border-radius: 50px;
} 
.seventh .sweet h5 {
    margin-top: 14px;
    margin-bottom: 10px;
    font-size: 16px;
}
.seventh .sweet  h6{
    font-size: 13px;
    margin-top: 10px;
}
.seventh .card img {
    max-width: 100px;
    width: 70px;
    height: 70px;
}
.seventh .card h3 {
   margin-top: 0px;
}
.seventh .card h1 {
    margin-top: -10px;
    margin-bottom: 2px;
}
.seventh .card p {
    margin-top: 5px;
}
.eighth {
    padding: 20px 20px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    background: url(img/bar\ 4.jpg) center/cover no-repeat;
}
.eighth .appoint {
    padding: 20px 15px;
    color: white;
    text-align: left;
}
.eighth .appoint h2 {
    font-weight: 800;
}
.eighth .appoint p {
    margin-top: -12px;
    margin-bottom: 1px;
}
.eighth .appoint .infotr {
    padding: 15px 0;
}
.eighth .infotr .card {
    display: flex;
    gap: 30px;
    margin-top: 4px;
}
.eighth .card .img8 {
    background-color: white;
    padding: 0px 7px;
}
.eighth .card img {
    width: 50px;
    height: 50px;
    margin-top: 13px;
}
.eighth .card h3 {
    margin-bottom: 13px;
}
.eighth .form2 {
    text-align: center;
    width: 50%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15pt rgba(0,0,0,0.02);
}
.eighth .form2 form {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}
.eighth input, .eighth textarea, .eighth button{
    padding: 10px;
    width: 90%;
    background: transparent;
    margin: 7px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.eighth form button {
    background: #e2bd85;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
.eighth button:hover {
    background: #655641;
}
.map {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.map iframe {
    width: 100%;
    height: 300px;
}
.inforss {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: white;
    background-color: black;
    padding: 20px 20px;
}
.inforss .icon {
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.inforss .icon img {
    width: 50px;
    height: 50px;
}
.inforss span a {
    text-decoration: none;
    color: #bc914d;
}
.inforss span a:hover {
    text-decoration: underline;
}












@media screen and (max-width: 768px ) {
    .nav-links{
        flex-direction: column;
        top: 130px;
        right: 20px;
        background-color: #bc914d;
        width: 250px;
        padding: 25px 10px;
        border-radius: 8px;
        display: none;
        position: absolute;
    }
    .nav-links.show {
        display: flex;
    }
    .hamburger {
        display: block;
        font-size: 55px;
        margin-right: 19px;
    }
    .third .container {
        flex-direction: column;
    }
}